<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Title

Introduction

In [2]:
##A highly motivated and hardworking individual capable of time management,work under pressure in all environment and contribute my skills and learningorganization and earn experience.

List of data science languages

# Python
# R
# SQL
# Julia
# Scala

Data science libraries


Some of the popular libraries used in data science include:

- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch
- Keras
- SciPy
- Seaborn
- Statsmodels

## Introduction to Arithmetic Expressions

In this section, we will explore various arithmetic expressions and their evaluations. Arithmetic expressions are used to perform basic mathematical operations. Here are some examples:

- Addition: \( a + b \)
- Subtraction: \( a - b \)
- Multiplication: \( a \times b \)
- Division: \( \frac{a}{b} \)
- Exponentiation: \( a^b \)
- Modulus: \( a \mod b \)

## Data Science Tools

| Tool            | Description                                      |
|-----------------|--------------------------------------------------|
| Jupyter Notebook | Interactive environment for creating and sharing documents containing live code, equations, visualizations, and narrative text. |
| Python          | A versatile programming language used for data analysis, machine learning, and more. |
| R               | A language and environment for statistical computing and graphics. |
| SQL             | A language used for managing and querying relational databases. |
| TensorFlow      | An open-source platform for machine learning and deep learning. |
| PyTorch         | A deep learning framework that provides a flexible and efficient way to build and train models. |
| Tableau         | A data visualization tool used for creating interactive and shareable dashboards. |
| Excel           | A spreadsheet application for data manipulation and analysis. |
| GitHub          | A platform for version control and collaboration, allowing developers to track and manage changes to their code. |

Mutiplying and adding integers

In [8]:
# Define the numbers
a = 5
b = 3
# Perform multiplication
multiplication_result = a * b
# Perform addition
addition_result = a + b
# Display the results
print("Multiplication Result:", multiplication_result)
print("Addition Result:", addition_result)

Multiplication Result: 15
Addition Result: 8

code cell that converts minutes to hours

In [9]:
# Define the number of minutes
minutes = 150
# Convert minutes to hours
hours = minutes / 60
# Display the result
print(f"{minutes} minutes is equal to {hours:.2f} hours")

150 minutes is equal to 2.50 hours

## Objectives

The main objectives of this notebook are to:

- Understand how to create and format markdown cells.
- Learn how to use markdown for creating headings, lists, and tables.
- Implement basic arithmetic operations and conversions using code cells.
- Practice using markdown and code cells in a Jupyter notebook environment.

## Author

This notebook is created by Harsha vardhan.